version: '3'

services:
  etcd:
    image: quay.io/coreos/etcd
    container_name: etcd
    networks:
        - total
    command: etcd -name etcd -advertise-client-urls http://0.0.0.0:2379 -listen-client-urls http://0.0.0.0:2379 -listen-peer-urls http://0.0.0.0:2380
    ports:
        - "2379:2379"
        - "2380:2380"
    restart: always
